@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url(https://myfonts.ru/myfonts?fonts=oks-free);
body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:18px;
	margin:0px;
	padding:0px;
	color:white;

}
.cover{
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.28);
	background:url(../images/3.jpg);
	background-repeat:no-repeat; 
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
}
.container{
	max-width: 1100px;
	margin: 0 auto;
}
.header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding-top:37px;
}
a{
	color:inherit;
	text-decoration: none;
}
.navigation{
	display:flex;
	justify-content:space-between;
	align-items: center;
	margin-right: 100px;
}
.navigation__list{
	list-style:none;
	display:flex;
	padding:0px;
}
.navigation__list__item{
	padding-right: 30px;
}
.navigation__list__item:last-of-type{
	padding-right: 0px;
}
button{
	font-size: 15px;
}
.contact__btn{
	font-family: 'Montserrat', sans-serif;/*используй*/
	color:white;
	border:inherit;
	background-color:inherit;
}
.contact__btn--border{
	border:solid 1px #FFF;
	border-radius: 30px;
	padding: 8px 20px;
}
.fa-bars{
	display:none;
}
.main{
	max-width:500px;
	margin-top:150px;
	display:flex;
	flex-direction: column;
}
.main__heading{
	font-family: 'Russo One', sans-serif;
	text-transform: uppercase;
	font-size:48px;
	margin:0px;
}
.main__text{
	max-width:450px;
	padding:20px 0px;
}
.buttons__btn{
	font-family: 'Montserrat', sans-serif;
	color:white;
	border:inherit;
	background-color:inherit;
	border:solid 1px #FFF;
	border-radius: 30px;
	padding: 12px 30px;
}

.button__btn--border{
	margin-left: 30px; 
}
.social-media{
	max-width: 160px;
	display: flex;
	justify-content: space-between;
	margin-top:100px;
	padding-bottom: 70px;
}
.hoveritem:hover{
	color:#80CADB;
	cursor: pointer;
}

.hoverbutton-border:hover{
	background-color:rgba(128, 202, 219, 0.2);
	 border: none;
	 cursor: pointer;
}
.button__btn--animation{
  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, red, blue, purple, red);
  background-size: 400%;
  border:none;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.hoverbutton:hover {
  animation: animate 8s linear infinite;
  border: solid #260094 1px;
  cursor: pointer;
}



.section{
	background-color:#000320;
	padding-bottom: 140px;
	padding-top: 100px;
}
.container__heading{
	font-family: 'Russo One', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	margin:0px;
	padding-bottom: 50px;
}
.about{
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.image1{
	background:url(../images/about.jpg);
	background-repeat:no-repeat; 
	background-position: center top;
	background-size: cover;
	width: 700px;
	border-radius: 30px;
}
.description{
	display:flex;
	flex-direction: column;
	max-width: 320px;
}
.description__text1{
	font-family: 'Oks Free', arial;
	font-size: 32px;
}
.description__text2{
	margin:30px 0px;
}




.cards{
	display:flex;
	justify-content: space-between;
}
.card{
	border-radius: 30px;
	max-width:350px;
	background-image:url(../images/card.png);
	background-repeat:no-repeat; 
	background-position: center center;
}
.zone-photo__img{
	max-width:350px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}
.zone-text{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:30px;
}
.zone-text__main{
	max-width: 310px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.zone-text__down{
	padding-bottom: 40px;
}
.zone-button{
	padding-bottom: 20px;
}
.zone-button__btn{
	font-family: 'Montserrat', sans-serif;
	color:white;
	background-color: inherit;
	border:solid 1px #FFF;
	border-radius: 30px;
	padding: 12px 24px;
	margin:0px;
}
.hoverzone:hover{
	background-color: rgba(246,159,220, 0.3);
	border:none;
	cursor: pointer;
}



.carousel {
	 display: flex;
	 width: 100%;
	 height: 100%;
	 align-items: center;
}
 .carousel__list {
	 display: flex;
	 list-style: none;
	 width: 100%;
	 height: 500px;
	 justify-content: center;
	 perspective: 500px;
	 padding: 0px;
}
 .carousel__item {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 color: white;
	 font-size: 20px;
	 width: 500px;
	 height: 500px;
	 border-radius: 20px;
	 box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
	 position: absolute;
	 transition: all 0.3s ease-in;
}
.carousel__item__text{
	font-family: 'Russo One', sans-serif;
	color:white;
	text-transform: uppercase;
	font-size: 30px;
	padding-top:380px;
	}
 .carousel__item:nth-child(1) {
	 background-image: url(../images/carusel.jpg);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
}
 .carousel__item:nth-child(2) {
	 background-image: url(../images/carusel2.jpg);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
}
 .carousel__item:nth-child(3) {
	 background-image: url(../images/carusel3.jpg);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
}
 .carousel__item:nth-child(4) {
	background-image: url(../images/carusel4.jpg);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
}
 .carousel__item:nth-child(5) {
	 background-image: url(../images/carusel5.jpg);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
}
 .carousel__item[data-pos="0"] {
	 z-index: 5;
}
 .carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
	 opacity: 0.7;
	 filter: blur(1px) grayscale(10%);
}
 .carousel__item[data-pos="-1"] {
	 transform: translateX(-40%) scale(0.9);
	 z-index: 4;
}
 .carousel__item[data-pos="1"] {
	 transform: translateX(40%) scale(0.9);
	 z-index: 4;
}
 .carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
	 opacity: 0.4;
	 filter: blur(3px) grayscale(20%);
}
 .carousel__item[data-pos="-2"] {
	 transform: translateX(-70%) scale(0.8);
	 z-index: 3;
}
 .carousel__item[data-pos="2"] {
	 transform: translateX(70%) scale(0.8);
	 z-index: 3;
}




.table{
  	display:grid;
  	grid-gap:5px;
  	grid-template-columns: repeat(4, 1fr);
  	grid-template-rows: repeat(5, 100px);
}
.table-element{
	text-align: center;
	background-color: #1D2C4D;
	padding-top:37px;
}
.table div:first-of-type{
	text-transform: uppercase;
}
.table-darken{
	background-color: #222264;
	text-align: center;
	padding-top:37px;
}
.price-button{
	text-align: center;
	padding-top:50px;
}
.button__btn--big{
	padding: 15px 50px;
	text-transform: uppercase;
}
.table-element--uppercase{
	text-transform: uppercase;
}





.background{
	background-color: #000320;
	margin:0 auto;
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:50px;
}
.form__heading{
  color: #484848;
  font-size: 50px;
  letter-spacing: 7px;
  cursor: pointer
}
.form__heading span{
  transition: .5s linear
}
.form__heading:hover span:nth-child(1){
  margin-right: 5px
}
.form__heading:hover span:nth-child(2){
  margin-left: 30px
}
.form__heading:hover span{
  color: #fff;
  text-shadow: 0 0 10px blue,
               0 0 20px blue, 
               0 0 40px blue;
}



.boxback{
	background-color: #000320;
	margin:0 auto;
	padding-bottom: 140px;
}
.box{
   display:grid;
   grid-template-columns: auto;
   background: linear-gradient(90deg, red, blue, purple, red);;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}
.box__heading{
   background: #222264;
   border-radius: 7px 7px 0px 0px;
   font-family: 'Russo One', sans-serif;
	text-transform: uppercase;
	font-size:40px;
	margin:0px;
   padding: 10px;
   color: #fff;
   text-align: center;
}
.faqs{
   padding: 0px 20px 20px;
}
.faqs__num{
   background: #000320;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   cursor: pointer;
 }
.faqs__num__head{
   outline: none;
   font-size: 24px;
   letter-spacing: 1px;
}
.faqs__num__main{
	color: #CCCDD7;
	font-size: 18px;
}
.lastsection{
	padding-bottom:120px;
}
.foot-contacts{
	margin:0 auto;
	display:grid;
	grid-gap:40px;
	grid-auto-flow: column;
  	grid-template-columns: 1fr 2fr;
}
.foot-contact{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}
.foot-contact__textup{
	font-size: 24px;
	text-transform:uppercase;
	padding-bottom: 10px;
}
.foot-contact__textunder{
	font-size: 18px;
	text-align: start;
}
.foot-contactmedia__item{
	padding-right:10px;
}
.map{
	grid-column:2;
	grid-row: 1/ span 3;
	background-image: url(../images/Map.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
}



.undersite{
	background-color: #000320;
	background-image: url(../images/foot.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.footer{
	display:flex;
	justify-content: center;
	align-items: center;
	padding-top:45px;
	padding-bottom: 45px;
}
.list{
	list-style: none;
	display: flex;
	padding:0px;
	margin: 0px;
}
.nav1__list__item{
	padding-right: 50px;
}
.nav1__list__item:last-of-type{
	padding-right: 100px;
}
.nav2__list__item{
	padding-left: 50px;
}
.nav2__list__item:first-of-type{
	padding-left: 100px;
}



@media(max-width:1200px){
	.container{
		max-width:85%;
	}
	.section{
		padding-bottom: 100px;
	}
	.contact__btn--border{
		display:none;
	}
	.navigation{
		margin:0px;
	}
	.image1{
		margin-right: 30px;
	}
	.card{
		font-size: 15px;
	}
	.card:nth-of-type(2){
		margin-left: 20px;
		margin-right: 20px;
	}
	.zone-photo__img{
		max-width: 100%;
	}
	.zone-text{
		padding-top: 10px;
		margin: 0 auto;
	}.zone-text{
		max-width: 100%;
	}
	.zone-text__main{
		padding-bottom:20px;
	}
	.zone-text__down{
		padding-bottom:30px;
	}
	.carousel__list{
		height:380px;
	}
	.carousel__item{
		width: 380px;
		height:380px;
	}
	.carousel__item__text{
		padding-top: 280px;
	}
	.nav1__list__item:last-of-type{
	padding-right: 50px;
	}
	.nav2__list__item:first-of-type{
	padding-left: 50px;
	}
	.boxback{
		padding-bottom: 100px;
	}
}
@media(max-width:960px){
	.section{
		padding-bottom: 50px;
	}
	.contact{
		display: none;
	}
	.carousel__list{
		height:300px;
	}
	.carousel__item{
		width: 300px;
		height:300px;
	}
	.carousel__item__text{
		padding-top: 220px;
		font-size: 20px;
	}
	.faqs__num__head{
    font-size: 20px;
	}
	.boxback{
		padding-bottom: 50px;
	}
	.nav1__list{
		display:none;
	}
	.nav2__list{
		display:none;
	}
}
@media(max-width:760px){
	.cover{
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.3);
	}
	.section{
		padding-top:70px;
	}
	.fa-bars{
		display: block;
	}
	.main{
		margin-top: 100px;
	}
	.main__heading{
		font-size: 40px;
	}
	.social-media{
		margin-top: 40px;
		padding-bottom: 50px;
	}
	.container__heading{
		font-size: 30px;
	}
	.navigation__list{
		display: none;
	}
	.about{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.image1{
		max-width: 90%;
		height: 300px;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.description{
		max-width: 85%;
		text-align: center;
		font-size: 16px;
	}
	.description__text2{
		margin-bottom:15px;
	}
	.carousel{
		overflow: hidden;
	}
	.carousel__list{
		height:250px;
	}
	.carousel__item{
		width: 250px;
		height:250px;
	}
	.carousel__item__text{
		padding-top: 180px;
	}
	.cards{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.card:nth-of-type(2){
		margin-left: 0px;
		margin-right: 0px;
	}
	.card{
		margin-bottom: 30px;
		font-size: 17px;
	}
	.zone-text{
		max-width:100%;
	}
	.form__heading{
  	font-size: 35px;
	}
	.faqs__num__head{
    font-size: 18px;
	}
	.box__heading{
		font-size: 30px;
	}
	.faqs__num__main{
		font-size: 16px;
	}
	.foot-contacts{
		grid-auto-flow: row;
		grid-gap:20px;
	}
	.map{
		background-position: center;
		grid-column: 1/span 2;
		grid-row: span 1/2;
		height: 200px;
	}
	.foot-contact{
		font-size: 20px;
		grid-column: 1/span 2;
	}
	.foot-contact__textunder{
	font-size: 16px;
	}
}
@media(max-width:480px){
	.container__heading{
		font-size: 25px;
		text-align: center;
		padding-bottom: 30px;
	}
	.srction{
		padding-top: 50px;
	}
	.main{
		max-width: 390px;
	}
	.main__text{
		font-size: 16px;
	}
	.main__heading{
		font-size: 30px;
	}
	.navigation__list{
		display: none;
	}
	.button__btn--border{
		margin-left: 10px;
	}
	.carousel__list{
		height:205px;
	}
	.carousel__item{
		width: 205px;
		height:205px;
	}
	.carousel__item__text{
		padding-top: 150px;
	}
	.table{
		font-size: 15px;
	}
	.form__heading{
  		font-size: 25px;
	}
	.box__heading{
		font-size: 25px;
	}
	.faqs__num__main{
		font-size: 15px;
	}
	.form__heading{
		display:none;
	}
	.zone-text__main{
		max-width: 250px;
		font-size: 16px;
	}
	.foot-contact__textup{
		font-size: 20px;
	}
	.buttons__btn{
	padding: 12px 16px;
	}
}